<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main/about-us-page.css">
</head>
<body>
<div class="left-top-corner">
    <a class="navbar-brand" onclick="window.history.back()">
        <img th:src="@{/images/G-logo-black.webp}" alt="G-courses" class="logo">
    </a>
</div>
<div class="container">
    <h1 class="section-title text-center">Про нас</h1>

    <div class="content">
        <h2 class="section-title">Опис програми</h2>
        <p>Система управління онлайн курсами іноземних мов:</p>
        <ul>
            <li>Управління користувачами, курсами тощо</li>
            <li>Обробка запитів</li>
            <li>Симуляція реального додатку</li>
        </ul>

        <h2 class="section-title">Стек технологій</h2>
        <p>Цей додаток побудований з використанням таких технологій:</p>
        <div class="tech-stack">
            <ul>
                <li><strong>Back-End:</strong> Java, Spring Boot, PostgreSQL</li>
                <li><strong>Front-End:</strong> HTML, CSS, Thymeleaf</li>
                <li><strong>Інструменти:</strong> Maven, Git, Docker</li>
            </ul>
        </div>

        <h2 class="section-title">Для користувача</h2>
        <p><strong>Даний пункт містить додаткову інформацію для тих, хто тестує додаток:</strong></p>
        <ul>
            <li>Паролі всіх користувачів зашифровані, але, за вмовчуванням, пароль для будь-якого користувача "Test123"</li>
        </ul>
    </div>
</div>

</body>
</html>
