body {
    background-color: #FFD700; /* Yellow background */
    color: #000; /* Black text */
    font-family: Arial, sans-serif;
}
.left-top-corner {
    position: absolute;
    top: 15px;
    left: 22px;
}
.logo {
    width: 50px;
}
.course-card {
    background-color: #222;
    color: #FFD700;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.btn-primary {
    background-color: #FFD700;
    border: none;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.btn-primary:hover {
    background-color: #FFC107 !important;
}
.btn-primary:active {
    background-color: #FFB300 !important;
}
