<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Розклад курсів</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/queries/queries-styles.css}">
</head>
<body>
<div class="left-top-corner">
  <a class="navbar-brand" th:href="@{/operator/profile}">
    <img th:src="@{/images/G-logo-black.webp}" alt="G-courses" class="logo">
  </a>
</div>
<div class="container mt-5">
  <!-- Black card to contain all content -->
  <div class="card">
    <div class="card-body">
      <!-- Form for selecting language and teacher -->
      <form th:action="@{/queries/courseSchedule}" method="post" class="mb-4">
        <h3 class="card-title text-center text-warning mb-4">Оберіть курс для перегляду розкладу</h3>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="course" class="form-label"></label>
            <select id="course" name="selectedCourseId" class="form-control">
              <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name + ': ' + course.languageLevel}" th:selected="${course == selectedCourse}"></option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Отримати розклад</button>
      </form>

      <!-- Table displaying course data -->
      <div class="table-responsive" th:if="${schedule != null}">
        <div class="course-schedule mt-4">
          <h4>Розклад курсу</h4>
          <!-- Scrollable list of lesson dates -->
          <ul class="list-group scrollable-lesson-dates">
            <li class="list-group-item" th:each="lessonDate: ${schedule}">
              <span class="lesson-item" th:text="${lessonDate}">
                Дата заняття буде тут
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
