<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація курсу</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/course/course-form.css}">
</head>
<body>
<!-- Header -->
<div class="left-top-corner">
    <a class="navbar-brand" th:href="@{/teacher/profile}">
        <img th:src="@{/images/G-logo-black.webp}" alt="G-courses" class="logo">
    </a>
</div>
<form th:action="@{/course/add}" th:object="${course}" method="post">
    <div class="card mt-2 mb-2">
        <div class="card-header">
            <h2>Реєстрація курсу</h2>
        </div>
        <div class="card-body">
            <!-- Id -->
            <input type="hidden" id="id" name="id" th:field="*{id}">

            <!-- Name -->
            <div class="mb-2">
                <label for="name" class="form-label">Назва курсу:</label>
                <span th:if="${#fields.hasErrors('name')}" th:errors="${course.name}" class="text-danger"></span>
                <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="Введіть назву курсу">
            </div>

            <!-- Description -->
            <div class="mb-2">
                <label for="description" class="form-label">Опис:</label>
                <span th:if="${#fields.hasErrors('description')}" th:errors="${course.description}" class="text-danger"></span>
                <input type="text" id="description" name="description" th:field="*{description}" class="form-control" placeholder="Введіть опис">
            </div>

            <!-- Language -->
            <div class="mb-2">
                <label for="language" class="form-label">Мова:</label>
                <span th:if="${#fields.hasErrors('language')}" th:errors="${course.language}" class="text-danger"></span>
                <input list="languages" id="language" name="language" th:field="*{language}" class="form-control" placeholder="Виберіть мову">
                <datalist id="languages">
                    <option th:each="language: ${languages}" th:value="${language}" th:text="${language}">
                    </option>
                </datalist>
            </div>

            <!-- Language Level -->
            <div class="mb-2">
                <label for="languageLevel" class="form-label">Рівень мови:</label>
                <span th:if="${#fields.hasErrors('languageLevel')}" th:errors="${course.languageLevel}" class="text-danger"></span>
                <input list="languageLevels" id="languageLevel" name="languageLevel" th:field="*{languageLevel}" class="form-control" placeholder="Виберіть рівень">
                <datalist id="languageLevels">
                    <option th:each="languageLevel: ${languageLevels}" th:value="${languageLevel}" th:text="${languageLevel}">
                    </option>
                </datalist>
            </div>

            <!-- Price -->
            <div class="mb-2">
                <label for="price" class="form-label">Ціна ($):</label>
                <span th:if="${#fields.hasErrors('price')}" th:errors="${course.price}" class="text-danger"></span>
                <input type="number" id="price" name="price" th:field="*{price}" class="form-control" placeholder="Введіть ціну" step="0.01">
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3">Відправити</button>
        </div>
    </div>
</form>
</body>
</html>
