body {
    background-color: #FFD700; /* Yellow background */
    color: #000; /* Black text */
    font-family: Arial, sans-serif;
}
.left-top-corner {
    position: absolute;
    top: 15px;
    left: 22px;
}
.logo {
    width: 50px;
}
.certificate-card {
    background-color: #222; /* Dark background for the card */
    color: #FFD700; /* Yellow text color */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Shadow for depth */
}
h2 {
    color: #000; /* Black header color */
}
