<!DOCTYPE html>
<html lang="uk" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Профіль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/user/profile-page.css}">
</head>
<body>
<div class="profile-container">

    <!-- Header -->
    <div class="left-top-corner">
        <a class="navbar-brand" th:href="@{/home}">
            <img th:src="@{/images/G-logo-black.webp}" alt="G-courses" class="logo">
        </a>
    </div>
    <!-- Student Information -->
    <div sec:authorize="hasRole('ROLE_STUDENT')" class="profile-card">
        <div class="display-flex-row">
            <img th:src="@{/images/default-profile-image.png}" alt="Зображення профілю студента" class="profile-picture">
            <div class="profile-info">
                <h2>Інформація профілю</h2>
                <strong>Логін:</strong> <span th:text="${session.student.username}"></span><br>
                <strong>Ім'я:</strong> <span th:text="${session.student.studentData.firstName}"></span><br>
                <strong>Призвище:</strong> <span th:text="${session.student.studentData.lastName}"></span><br>
                <strong>Дата народження:</strong> <span th:text="${session.student.studentData.birthDate}"></span><br>
                <strong>Вік:</strong> <span th:text="${session.student.studentData.getAge()}"></span><br>
                <strong>Баланс:</strong> <span th:text="'$' + ${session.student.studentData.balance}"></span><br>
            </div>
        </div>
        <div class="display-flex-col">
            <a th:href="@{/student/profile/update}" class="btn btn-primary">Оновити профіль</a>
            <a th:href="@{/student/courses}" class="btn btn-primary">Переглянути мої курси</a>
            <a th:href="@{/student/balance}" class="btn btn-primary">Управління балансом</a>
            <a th:href="@{/student/payments}" class="btn btn-primary">Платежі за курси</a>
            <a th:href="@{/student/certificates}" class="btn btn-primary">Мої сертифікати</a>
            <form action="#" th:action="@{/logout}" method="post">
                <input class="btn btn-danger " type="submit" value="Вийти">
            </form>
        </div>
    </div>

    <!-- Teacher Information -->
    <div sec:authorize="hasRole('ROLE_TEACHER')" class="profile-card">
        <div class="display-flex-row">
            <img th:src="@{/images/default-profile-image.png}" alt="Зображення профілю вчителя" class="profile-picture">
            <div class="profile-info">
                <h2>Інформація профілю</h2>
                <strong>Логін:</strong> <span th:text="${session.teacher.username}"></span><br>
                <strong>Ім'я:</strong> <span th:text="${session.teacher.teacherData.firstName}"></span><br>
                <strong>Призвище:</strong> <span th:text="${session.teacher.teacherData.lastName}"></span><br>
                <strong>Дата народження:</strong> <span th:text="${session.teacher.teacherData.birthDate}"></span><br>
                <strong>Вік:</strong> <span th:text="${session.teacher.teacherData.getAge()}"></span><br>
            </div>
        </div>
        <div class="display-flex-col">
            <a th:href="@{/teacher/profile/update}" class="btn btn-primary">Оновити профіль</a>
            <a th:href="@{/course/add}" class="btn btn-primary">Створити новий курс</a>
            <a th:href="@{/teacher/courses}" class="btn btn-primary">Переглянути мої курси</a>
            <form action="#" th:action="@{/logout}" method="post">
                <input class="btn btn-danger " type="submit" value="Вийти">
            </form>
        </div>
    </div>

    <!-- Operator Information -->
    <div sec:authorize="hasRole('ROLE_OPERATOR')" class="profile-card">
        <div class="display-flex-row">
            <img th:src="@{/images/default-profile-image.png}" alt="Зображення профілю студента" class="profile-picture">
            <div class="profile-info">
                <h2>Інформація профілю</h2>
                <strong>Логін:</strong> <span th:text="${superUser.username}"></span><br>
                <strong>Ім'я:</strong> <span th:text="${superUser.superUserData.firstName}"></span><br>
                <strong>Прізвище:</strong> <span th:text="${superUser.superUserData.lastName}"></span><br>
                <strong>Дата народження:</strong> <span th:text="${superUser.superUserData.birthDate}"></span><br>
                <strong>Вік:</strong> <span th:text="${superUser.superUserData.getAge()}"></span><br>
            </div>
        </div>
        <div class="display-flex-col">

            <div class="query-list">
                <a th:href="@{/operator/profile/update}" class="btn btn-primary">Оновити профіль</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/operator/create-operator}" class="btn btn-primary">Створити користувача оператора</a>
                <a th:href="@{/queries/groupsByLanguageAndTeacher}" class="btn btn-primary">Отримати групи студентів за мовою та викладачем</a>
                <a th:href="@{/queries/courseFullPriceByLevel}" class="btn btn-primary">Обчислити ціну курсу за рівнями мов</a>
                <a th:href="@{/queries/failedStudents}" class="btn btn-primary">Знайти студентів, які не склали</a>
                <a th:href="@{/queries/teachersLanguages}" class="btn btn-primary">Знайти вчителів, які викладають 1-3 мови</a>
                <a th:href="@{/queries/studentsCoursePayments}" class="btn btn-primary">Знайти студентів з оплатами за курси</a>
                <a th:href="@{/queries/studentsCourseLevels}" class="btn btn-primary">Знайти студентів з 3 або більше рівнями курсів</a>
                <a th:href="@{/queries/germanStudents}" class="btn btn-primary">Знайти студентів з 2 або більше мовами або німецькою</a>
                <a th:href="@{/queries/getSmallGroups}" class="btn btn-primary">Знайти групи, де недостатньо студентів</a>
                <a th:href="@{/queries/getFullGroups}" class="btn btn-primary">Знайти заповнені групи</a>
                <a th:href="@{/queries/courseSchedule}" class="btn btn-primary">Отримати розклад курсу</a>
            </div>

            <form action="#" th:action="@{/logout}" method="post">
                <input class="btn btn-danger " type="submit" value="Вийти">
            </form>
        </div>
    </div>
</div>
</body>
</html>
